@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<LibraryManagementSystem.Models.ViewModels.CustomerViewModel>

@{ ViewData["Title"] = "All Customers"; }
<h2>@ViewData["Title"]</h2>

<a asp-action="Add" class="btn btn-primary mb-1">Add new Customer</a>

<form asp-action="Search"  method="get" class="input-group">
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </span>

        <input type="text" class="form-control" name="searchString" placeholder="Search by email">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>


<table class="table table-bordered table-striped table-sm text-center">
    <thead>
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.CustomerId</td>
            <td>@customer.CustomerName</td>
            <td>@customer.Email</td>
            <td>
                <div class="d-flex justify-content-center">
                    <a asp-action="Edit" asp-route-id="@customer.CustomerId"
                       class="btn btn-sm btn-warning me-2">Edit</a>
                    <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure to delete?');">
                        <input type="hidden" name="id" value="@customer.CustomerId" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- page -->
<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model, page => Url.Action("Search", new { page }),
        new PagedListRenderOptions
        {
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            LinkToPreviousPageFormat = "Prev",  
            LinkToNextPageFormat = "Next",      
            ActiveLiElementClass = "active",
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 10,
            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded
        })
</div>