<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="LibraryManagementSystem">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>@ViewData["Title"] - LibraryManagementSystem</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/LibraryManagementSystem.styles.css" asp-append-version="true"/>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  </style>

  <!-- Custom styles for this template -->
  <!-- <link href="sidebars.css" rel="stylesheet"> --> <!-- It is done by _Layout.cshtml.css -->
</head>

<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="home" viewBox="0 0 16 16">
    <path
      d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
  </symbol>
  <symbol id="book" viewBox="0 0 16 16">
    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
  </symbol>
  <symbol id="vector-pen" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
    <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"/>
  </symbol>
  <symbol id="person-vcard" viewBox="0 0 16 16">
    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
  </symbol>
  <symbol id="buildings" viewBox="0 0 16 16">
    <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022M6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
    <path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
  </symbol>
</svg>

<main>
  <h1 class="visually-hidden">Sidebar</h1>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="~/images/library-logo.svg" alt="Library Logo" width="50" height="50" class="me-2 mt-1" />
      <span class="fs-4" style="position: relative; left: 10px;"><strong>LibCloud</strong></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a asp-action="Index" asp-controller="Home"
           class="nav-link @(ViewData["ActivePage"]?.ToString() == "Home" ? "active" : "")">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"/>
          </svg>
          Home
        </a>
      </li>
      <li>
        <a asp-action="ListAll" asp-controller="Book"
           class="nav-link @(ViewData["ActivePage"]?.ToString() == "Book" ? "active" : "")">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#book"/>
          </svg>
          Book
        </a>
      </li>
      <li>
        <a asp-action="ListAll" asp-controller="Author"
           class="nav-link @(ViewData["ActivePage"]?.ToString() == "Author" ? "active" : "")">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#vector-pen"/>
          </svg>
          Author
        </a>
      </li>
      <li>
        <a asp-action="ListAll" asp-controller="Customer"
           class="nav-link @(ViewData["ActivePage"]?.ToString() == "Customer" ? "active" : "")">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#person-vcard"/>
          </svg>
          Customer
        </a>
      </li>
      <li>
        <a asp-action="ListAll" asp-controller="LibraryBranch"
           class="nav-link @(ViewData["ActivePage"]?.ToString() == "Branch" ? "active" : "")">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#buildings"/>
          </svg>
          LibraryBranch
        </a>
      </li>
    </ul>
    <hr>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
             data-bs-toggle="dropdown" aria-expanded="false">
            @if (User.IsInRole("Admin"))
            {
              <i class="bi bi-person-fill-gear me-2 fs-2" alt="User Avatar"></i>
            }
            else
            {
              <i class="bi bi-person-fill-check me-2 fs-2" alt="User Avatar" ></i>
            }
            <strong>@User.Identity.Name</strong>
          </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
              <li>
                <form asp-action="Logout" asp-controller="Account" method="post" class="dropdown-item p-0 m-0">
                  <antiforgery/>
                  <button type="submit" class="btn text-white w-100 text-start">Logout</button>
                </form>
              </li>
            </ul>
        </div>
    }
    else
    {
        <div class="dropdown">
          <a class="d-flex align-items-center text-white text-decoration-none" asp-action="Login" asp-controller="Account">
            <i class="bi bi-person-fill-x me-2 fs-2" alt="Login Icon"></i>
            <strong>Login</strong>
          </a>
        </div>
    }
  </div>


  <!-- Page Content -->
  <div class="flex-grow-1 p-4 page-content">
    @RenderBody() @* it will be replaced by page content *@
  </div>
  
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script>
  /* global bootstrap: false */
  (function () {
    'use strict'
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })()

// monitor the current height to avoid layout issue
  window.addEventListener('resize', adjustMainHeight);
  function adjustMainHeight() {
    const mainElement = document.querySelector('main');
    const viewportHeight = window.innerHeight; // get current height 
    // adjust current height based on current height
    mainElement.style.height = `${viewportHeight}px`; 
  }
  adjustMainHeight();

  
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
